In [1]:
import numpy as np
import pandas as pd
import os
import pickle

In [18]:
os.listdir(os.getcwd()+'\\TAV')

['168계단.pickle',
 '40계단 문화관광테마거리.pickle',
 'APEC나루공원.pickle',
 'UN기념공원.pickle',
 '감천문화마을.pickle',
 '금정산성.pickle']

In [3]:
pwd

'C:\\Users\\user\\Desktop\\python_p\\220623'

In [65]:
with open("./TAV/금정산성.pickle","rb") as fr:
    크롤링_리뷰수 = pickle.load(fr)
reviews_TAV = 크롤링_리뷰수['트립리뷰수']
out_re_TAV = 크롤링_리뷰수['트립리뷰']
print(reviews_TAV,len(out_re_TAV))

44 44

In [7]:
with open("./GMR/감천문화마을.pickle","rb") as fr:
    구글_리뷰크롤링 = pickle.load(fr)
reviews_GMR = 구글_리뷰크롤링['구글리뷰수']
out_re_GMR = 구글_리뷰크롤링['구글리뷰']
print(reviews_GMR,len(out_re_GMR))

930 930

In [2]:
with open("./TDC/금정산성_.pickle","rb") as fr:
    크롤링_리뷰수 = pickle.load(fr)
reviews_TDC = len(크롤링_리뷰수['리뷰'])
out_re_TDC = 크롤링_리뷰수['리뷰']
print(reviews_TDC,len(out_re_TDC))

8 8

In [56]:
reviews_all = reviews_TAV+reviews_GMR+reviews_TDC
reviews_all

1876

In [57]:
out_re_all = out_re_TAV+out_re_GMR+out_re_TDC
len(out_re_all)

1876

In [10]:
총_크롤링_리뷰={}
총_크롤링_리뷰['총리뷰'] = out_re_all
총_크롤링_리뷰['총리뷰수']  = reviews_all
with open(f"UN기념공원_.pickle","wb") as fw:
    pickle.dump(총_크롤링_리뷰, fw)

In [11]:
data = pd.read_csv('부산여행순위_최종.csv')
data.head(5)

   Unnamed: 0       장소
0           0    해동용궁사
1           1   감천문화마을
2           2  흰여울문화마을
3           3   부산민주공원
4           4   민락수변공원

In [12]:
len(data)

85

In [35]:
data_l = list(data.장소)
data_l

['해동용궁사',
 '감천문화마을',
 '흰여울문화마을',
 '부산민주공원',
 '민락수변공원',
 '부산스포원',
 '부산시민공원',
 '이기대수변공원',
 '비프광장',
 '다대포 꿈의 낙조분수',
 '광안리해수욕장',
 '해물포장마차촌',
 '해운대해수욕장',
 '송상현광장',
 '용두산공원',
 '용소웰빙공원',
 '암남공원',
 '사상근린공원',
 'UN기념공원',
 'APEC나루공원',
 '장림포구',
 '죽성성당',
 '누리마루 APEC 하우스',
 '다대포해수욕장',
 '창선동 먹자골목',
 '신평소공원',
 '태종대',
 '죽도공원',
 '청사포',
 '온천천시민공원',
 '삼락생태공원',
 '대변항',
 '오륙도해맞이공원',
 '강서체육공원',
 '깡깡이예술마을',
 '부산송도해수욕장',
 '신호공원',
 '우암동도시숲',
 '대천공원',
 '화명장미마을',
 '범어사',
 '수영사적공원',
 '일광해수욕장',
 '삼락강변체육공원',
 '금강공원',
 '에덴공원',
 '장안사',
 '대저생태공원',
 '신세계백화점 센텀시티',
 '맥도생태공원',
 '백양산',
 '168계단',
 '부산영화의거리',
 '롯데월드 어드벤처 부산',
 '아미산전망대',
 '강서낙동강변30리벚꽃길',
 '팥빙수골목',
 '구덕문화공원',
 '부산아쿠아리움',
 '부산올림픽공원',
 '사라수변공원',
 '동백섬',
 '영도대교',
 '오륙도',
 '오륙도 스카이워크',
 '아홉산숲',
 '자갈치시장',
 '송도해상케이블카',
 '절영해안산책로',
 '황령산',
 '더베이101',
 '부산국제시장',
 '국립부산과학관',
 '40계단 문화관광테마거리',
 '부산광안대교',
 '부산 장산',
 '동래읍성지',
 '부평깡통시장',
 '국립해양박물관',
 '화명생태공원',
 '영도 등대',
 '초량 이바구길',
 '허심청',
 '금정산성',
 '부산현대미술관']

In [92]:
TAV = os.listdir(os.getcwd()+'\\TAV')

In [63]:
GMR = os.listdir(os.getcwd()+'\\GMR')

In [28]:
TDC = os.listdir(os.getcwd()+'\\TDC')

In [48]:
TAV_l = []
for i in TAV:
    TAV_l.append(i.replace('.pickle',''))
TAV_l

['168계단', '40계단 문화관광테마거리', 'APEC나루공원', 'UN기념공원', '감천문화마을', '금정산성']

In [64]:
GMR_l = []
for i in GMR:
    GMR_l.append(i.replace('.pickle',''))
GMR_l

['168계단', '40계단 문화관광테마거리', 'APEC나루공원', 'UN기념공원', '감천문화마을', '금정산성']

In [43]:
TDC_l = []
for i in TDC:
    TDC_l.append(i.replace('_.pickle',''))
TDC_l

['168계단', '40계단 문화관광테마거리', 'APEC나루공원', 'UN기념공원', '감천문화마을']

In [50]:
'감천문화마을' not in TAV_l

False

In [75]:
data_l = ['금정산성']

In [96]:
with open("범어사.pickle","rb") as fr:
    총_크롤링_리뷰 = pickle.load(fr)
reviews_all = 총_크롤링_리뷰['총리뷰수']
out_re_all = 총_크롤링_리뷰['총리뷰']
print(reviews_all,len(out_re_all))

644 644

In [76]:
for i in data_l:
    if i not in TAV_l:
        reviews_TAV = 0
        out_re_TAV = []
    else:
        with open(f"./TAV/{i}.pickle","rb") as fr:
            크롤링_리뷰수 = pickle.load(fr)
        reviews_TAV = 크롤링_리뷰수['트립리뷰수']
        out_re_TAV = 크롤링_리뷰수['트립리뷰']
    
    
    if i not in GMR_l:
        reviews_GMR = 0
        out_re_GMR = []
    else:
        with open(f"./GMR/{i}.pickle","rb") as fr:
            크롤링_리뷰수 = pickle.load(fr)
        reviews_GMR = 크롤링_리뷰수['트립리뷰수']
        out_re_GMR = 크롤링_리뷰수['트립리뷰']
    
    
    if i not in TDC_l:
        reviews_TDC = 0
        out_re_TDC = []
    else:
        with open(f"./TDC/{i}_.pickle","rb") as fr:
            크롤링_리뷰수 = pickle.load(fr)
        reviews_TDC = len(크롤링_리뷰수['리뷰'])
        out_re_TDC = 크롤링_리뷰수['리뷰']
    
    
    reviews_all = reviews_TAV+reviews_GMR+reviews_TDC
    out_re_all = out_re_TAV+out_re_GMR+out_re_TDC
    
    
    총_크롤링_리뷰={}
    총_크롤링_리뷰['총리뷰'] = out_re_all
    총_크롤링_리뷰['총리뷰수']  = reviews_all
    with open(f"{i}.pickle","wb") as fw:
        pickle.dump(총_크롤링_리뷰, fw)

In [88]:
def 피클병합():
    reviews_TAV_l = []
    reviews_GMR_l = []
    reviews_TDC_l = []
    reviews_all_l = []
    
    data = pd.read_csv('부산여행순위_최종.csv')
    data_l = list(data.장소)
    
    TAV = os.listdir(os.getcwd()+'\\TAV')
    GMR = os.listdir(os.getcwd()+'\\GMR')
    TDC = os.listdir(os.getcwd()+'\\TDC')
    
    TAV_l = []
    for i in TAV:
        TAV_l.append(i.replace('.pickle',''))        
    GMR_l = []
    for i in GMR:
        GMR_l.append(i.replace('.pickle',''))
    TDC_l = []
    for i in TDC:
        TDC_l.append(i.replace('_.pickle',''))    
    
    for i in data_l:
        if i not in TAV_l:
            reviews_TAV = 0
            out_re_TAV = []
        else:
            with open(f"./TAV/{i}.pickle","rb") as fr:
                크롤링_리뷰수 = pickle.load(fr)
            reviews_TAV = 크롤링_리뷰수['트립리뷰수']
            out_re_TAV = 크롤링_리뷰수['트립리뷰']
        reviews_TAV_l.append(reviews_TAV)

        if i not in GMR_l:
            reviews_GMR = 0
            out_re_GMR = []
        else:
            with open(f"./GMR/{i}.pickle","rb") as fr:
                크롤링_리뷰수 = pickle.load(fr)
            reviews_GMR = 크롤링_리뷰수['트립리뷰수']
            out_re_GMR = 크롤링_리뷰수['트립리뷰']
        reviews_GMR_l.append(reviews_GMR)

        if i not in TDC_l:
            reviews_TDC = 0
            out_re_TDC = []
        else:
            with open(f"./TDC/{i}_.pickle","rb") as fr:
                크롤링_리뷰수 = pickle.load(fr)
            reviews_TDC = len(크롤링_리뷰수['리뷰'])
            out_re_TDC = 크롤링_리뷰수['리뷰']
        reviews_TDC_l.append(reviews_TDC)

        reviews_all = reviews_TAV+reviews_GMR+reviews_TDC
        reviews_all_l.append(reviews_all)
        out_re_all = out_re_TAV+out_re_GMR+out_re_TDC    

#         총_크롤링_리뷰={}
#         총_크롤링_리뷰['총리뷰'] = out_re_all
#         총_크롤링_리뷰['총리뷰수']  = reviews_all
#         with open(f"{i}.pickle","wb") as fw:
#             pickle.dump(총_크롤링_리뷰, fw)
    피클_병합=pd.DataFrame(list(zip(data_l, reviews_TAV_l, reviews_GMR_l,reviews_TDC_l,reviews_all_l)) ,columns=['장소','트립어드바이저','구글맵리뷰','트립닷컴','총개수'])
    피클_병합.to_csv("피클_병합.csv", encoding='utf-8-sig')
    return 피클_병합

In [89]:
# 결과 = 피클병합()
# 결과

         장소  트립어드바이저  구글맵리뷰  트립닷컴   총개수
0     해동용궁사      754    754   240  1748
1    감천문화마을      725    725   426  1876
2   흰여울문화마을        5      5     8    18
3    부산민주공원       16     16     0    32
4    민락수변공원       48     48     0    96
..      ...      ...    ...   ...   ...
80    영도 등대        5      5     0    10
81  초량 이바구길       26     26     4    56
82      허심청       34     34    30    98
83     금정산성       44     44     8    96
84  부산현대미술관        9      9    11    29

[85 rows x 5 columns]